<?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="debug" name="MyApp" packages="">
        <Appenders>
            <Socket name="fluentd_socket" host="10.22.20.179" port="24226">
                <PatternLayout>
                    <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
                </PatternLayout>
            </Socket>
        </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="fluentd_socket"/>
        </Root>
    </Loggers>
</Configuration>
