<configuration>

    <appender name="fluentd_socket" class="ch.qos.logback.classic.net.SocketAppender">
        <remoteHost>localhost</remoteHost>
        <port>24224</port>
        <reconnectionDelay>10000</reconnectionDelay>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="fluentd_socket" />
    </root>

</configuration>